<div class="container-fluid">
  <div class="row">
    <div
      class="col-sm-12"
      style="padding-top: 15px; padding-bottom: 15px; display:flex; justify-content: flex-start; flex-direction: row; align-items: center;"
    >
      <input
        [(ngModel)]="searchString"
        class="form-control"
        type="text"
        placeholder="Location Search"
      />
      <button
        (click)="search()"
        class="btn btn-primary"
        style="margin-left: 10px;"
      >
        Go
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div #gmap style="width:100%;height:400px"></div>
    </div>
  </div>
</div>

<div
  *ngIf="showModal"
  style="position: absolute; top: 25vh; left: 40%; background-color: white; height: 300px; width: 600px;"
>
  <h1>{{ modalTitle }}</h1>
  <img [src]="imgData.imageSrc" width="200" height="200" />
</div>
